body {
	font-family: "Asul", sans-serif;
}

.pure-menu .pure-menu-heading {
	position: absolute;
	left: 45%;
	font-size: 34px;
	z-index: 10;
	color: #ffffff;
	background-color: rgb(28, 28, 37);
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
}