body {
	background-image: url('/pensieve/assets/images/pensieve.jpg');
	background-size: cover;
	font-family: "Asul", sans-serif;
}

.content {
	
}

.pure-g-r {
	letter-spacing: normal;
	width: 100%;
	font-family: "Asul", sans-serif;
}

.heading {
	margin: 10% 0 10% 40%;
	height: 18%;
	display:block;
	line-height:1.5em;
	padding: 10px 30px;
	text-decoration:none;
	white-space:nowrap;
	/*position: absolute;
	left: 45%;
	top: 30%;*/
	font-size: 34px;
	z-index: 10;
	color: #ffffff;
	background-color: rgb(28, 28, 37);
	box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
	text-align: center;
	font-size: 4em;
}

.translucent {
	background-color: rgba(0, 0, 0, 0.44);
	padding-top: 50px;
    padding-bottom: 25px;
	padding-left: 20%;
	color: #ffffff;
	text-align: center;
	font-size: 2em;
	vertical-align: middle;
}

#gConnect {
	margin-top: 20px;
	margin-left: 35%;
}